/* ヘッダーのスタイル */
.header {
    display: flex;
    align-items: center;
    padding: 10px;

    /* 影をつける */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* SVGアイコンのリンクスタイル */
.icon-link {
    display: flex;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
}

/* ユーザーアイコンのスタイル */
.usericon {
    /* 右揃え */
    margin-left: auto;

    img {
        width: 50px;
        height: 50px;
    }
}

/* SVGアイコンのスタイル */
.icon {
    width: 50px;
    height: 50px;
}

/* メニューのスタイル */
.menu {
    display: flex;
    gap: 15px;
}

/* メニュー項目のスタイル */
.menuitem {
    text-decoration: none;
    font-size: 16px;
}

.menuitem:hover {
    text-decoration: underline;
}

/* ユーザーアイコンのスタイル */
.usericon {
    /* 右揃え */
    margin-left: auto;
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        
    }
}