/* style.css */
/* bootstrapをベースに見やすくしたスタイル */

@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* 変数 */
:root {
    /* cardのmargin(これの2倍をカードの横幅から引いている) */
    --card-margin: 8px;
}

/* 全体のリセット */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ボディのスタイル */
body {
    font-family: "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", Meiryo, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    background-color: #f0f0f0;
}

/* 画像のスタイル */
img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* リンクのスタイル */
a {
    text-decoration: none;
    color: #337ab7;
}

/* リンクのホバー時のスタイル */
a:hover {
    text-decoration: underline;
}

/* プライマリボタンのスタイル */
.btn-primary {
    padding: 10px 20px;
    font-size: 18px;
    /* font-weight: bold; */
    border: none;
    border-radius: 12px;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: -1px -1px 10px 0px rgba(255, 255, 255, 0.5),
        5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

/* プライマリボタンのホバー時のスタイル */
.btn-primary:hover {
    background-color: #23527c;
}

/* プライマリボタンのdisabled時のスタイル */
.btn-primary:disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

/* プライマリボタンのクリック時のスタイル  へこんだように見せる*/
.btn-primary:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* カードエリアのスタイル */
.cardArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* カードのスタイル */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - var(--card-margin) * 2);
    margin: var(--card-margin);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    gap: 3px;
}

/* 画像のスタイル */
/* カードのヘッダーのスタイル*/
.card-header {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
}

/* カードのホバー時のスタイル */
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

/* card-body */
.card-body {
    width: 100%;
    padding: 10px;
}

/* タップ領域を大きくする */
.btn-primary,
.card {
    padding: 12px;
}

/* 入力チェック(class=input-check)のdivのスタイル */
input~.input-check::after,
textarea~.input-check::after {
    display: inline-block;
    font-size: 9pt;
}

/* 入力が有効な場合のスタイル */
input:valid~.input-check::after,
textarea:valid~.input-check::after {
    content: "✓入力済み";
    color: green;
}

/* 入力が無効な場合のスタイル */
input:invalid~.input-check::after,
textarea:invalid~.input-check::after {
    content: "※入力してください";
    color: red;
}