/* style.css */
/* bootstrapをベースに見やすくしたスタイル */

@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* 変数 */
:root {
    /* cardのmargin(これの2倍をカードの横幅から引いている) */
    --card-margin: 8px;
}

/* 全体のリセット */
* {
    box-sizing: border-box;
    padding: 0;
    font-family: "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", Meiryo, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
}

body {
    background-color: #f0f0f0;
}

/* 画像のスタイル */
img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* リンクのスタイル */
a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    text-decoration: underline;
}

/* ボタンのスタイル */
.btn-primary,
.btn-danger {
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: -1px -1px 10px 0px rgba(255, 255, 255, 0.5),
        5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:active,
.btn-danger:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* プライマリボタンのスタイル */
.btn-primary {
    background-color: #337ab7;
}

.btn-primary:hover {
    background-color: #23527c;
}

.btn-primary:disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

/* カードエリアのスタイル */
.cardArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* カードのスタイル */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - var(--card-margin) * 2);
    margin: var(--card-margin);
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    gap: 3px;
}

/* 画像のスタイル */
/* カードのヘッダーのスタイル*/
.card-header {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
}

/* カードのホバー時のスタイル */
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

/* card-body */
.card-body {
    width: 100%;
    padding: 10px;
}

/* 入力チェックのdivのスタイル (class=input-check)
   - ::after 擬似要素を用いて、要素の後に内容を追加します */
.input-check::after {
    display: inline-block;
    font-size: 9pt;
}

/* 入力が有効な場合のスタイル
   - input:valid は有効な入力要素を選択します
   - + は隣接兄弟結合子で、直後の兄弟要素を選択します */
input:valid+.input-check::after,
textarea:valid+.input-check::after {
    content: "✓入力済み";
    color: green;
}

/* 入力が無効な場合のスタイル
   - input:invalid は無効な入力要素を選択します */
input:invalid+.input-check::after,
textarea:invalid+.input-check::after {
    content: "※入力してください";
    color: red;
}